<div class="navbar">
  <div class="container-logo">
    <div class="">
      <h5 class="title-logo">Edcodigo01</h5>
      <p class="subtitle-logo">Edwar Villavicencio</p>
    </div>
  </div>
  <div class="container-navs">
    <a
      routerLink="ejemplo-1"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Ejemplo 1</a
    >
    <a
      routerLink="ejemplo-2"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Ejemplo 2</a
    >
    <a
      routerLink="ejemplo-3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Ejemplo 3 (prime ng)
    </a>
    <div class="social">
      <a href="">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="">
        <i class="pi pi-github"></i>
      </a>
    </div>
  </div>
</div>
